body{
    padding: 2rem 0 0 0;
}
form button{
   background-color: rgb(59 130 246);
   color: white;
   font-weight: 900;
   padding-top: 0.5rem; /* 8px */
   padding-bottom: 0.5rem; /* 8px */
   padding-left: 1rem;
   padding-right: 1rem;
   border-radius: 9999px;
   margin: 1rem;
   width: 8rem;
   font-size: 1rem;
   

}
button:hover{
    background-color: rgb(29 78 216);
    
}
label{
    margin: 1rem;
    display: block;
    text-align: center;
    font: bold 36px asap,arial;
    color: #505050;
    letter-spacing: -1px;
}
form{
    width: 50%;
    margin: 1rem  auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.description{
    width: 50%;
    margin: 1rem auto;
    font-size: 1.2rem;
    text-align: center;
}

section{
    width: 50%;
    margin: 0 auto;
}
section > h2, p {
    text-align: center;
}

h2 {
    margin: 1rem;
    display: block;
    text-align: center;
    font: bold 36px asap,arial;
    color: #505050;
    letter-spacing: -1px;
}
p {
    font-size: 1.2rem;
}

h1{
   
    text-align: center;
    font: 900 49px asap,arial;
    color: #0186da;
    letter-spacing: -1px;
    text-shadow: 0 2px 2px #ddd;
    word-wrap: break-word;
}

input{
    
    appearance: none;
    border-width: 2px;
    border-color: rgb(229 231 235);
    border-radius: 0.25rem; /* 4px */
    padding: 0 1rem;
    text-decoration-color: #374151;
    height: 2rem;
    width: 18rem;
    font-size: 1rem;
    
}



.shortUrl-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#box{
    padding: 0 10rem;
    margin: 4rem 0;
}
#row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#column {
    width: 30%;
    min-height: 210px;
    padding: 0 10px;
    text-align: center;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    overflow-clip-margin: content-box;
    overflow: clip;
}
h3 {
    margin: 0 0 -10px 0;
    font: bold 20px asap,arial;
    color: #505050;
    letter-spacing: 0;
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.aligncenter {
    text-align: center;
}
footer{
    color: #eee;
    background: #333;
    height: 6rem;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
@media  (max-width: 800px){
    #box{
        padding: 0;
    }
}
@media  (max-width: 340px){
    input{
        width: 15rem;
    }
}
@media  (max-width: 480px){
    form,section, .description{
        width: 100%;
    }

    #row{
        display: flex;
        flex-direction: column;
    }

    #column{
        width: 80%;
        align-items: center;
    }

}
